body {
    background: black; font-family:"CG Omega";
}

h1 {
    color: white; font-style: italic; font-weight: bold; text-align: center;
}

table, th, td {
    border: 1px solid; border-color: white;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th {
    height: 25px;
    text-align: left;
    background-color: gray;
    color: gold;
}

td {
    height: 35px; vertical-align: bottom;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:hover {background-color: black}
tr:nth-child(odd) {background-color: #2f2f2f}

tr {
    background-color: gold;
    color: grey;
}

a {
    color: grey;
    text-align: center;
}

hr {width: 500px;}

input[readonly] {background-color:gray;}

form{
    margin: 0 auto;
    width: 500px;
    height: 250px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
}

p {color: gold;}

.wrap {text-align:center; width:90%; margin:0 auto; border:1px solid white; margin-top:25px;}

.header{text-align:center; padding:5px; color:white;}
.headerImg{float:left; padding:25px}
.headerText{height:105px; padding-top:50px; color:white; text-align:center;}

.main{text-align:left; padding:25px;}

.footer{text-align:left; padding:25px; color:white;}

.navcontainer{margin-left:30px;}
.navlist{list-style:none; padding:0; margin:0;}
.navlist li{display:inline; padding:0; margin:0;}
.navlist li:before{content: "| ";}
.navlist li:first-child:before {content: "| ";}

*html .navlist li{border-left: 1px solid white; padding: 0 0.4em 0 0.4em; margin: 0 0.4em 0 -0.4em;}

*html .navlist li{height:1%;}

*html .navlist li{display:block; float:left;}

*html .navlist li:fist-child{border-left:0;}